<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">


  </head>
  <body>

    
<h1 class="text-center"><%= link_to 'New User', new_sign_up_path%></h1>



<div class="container">
  <% @sign_ups.each do |sign_up| %>

  <div class="col-md-2">
    <%= sign_up.user_name %>
    <p><%= link_to 'View', sign_up %></p>
    <p><%= link_to 'Edit', edit_sign_up_path(sign_up) %></p>
    <p><%= link_to 'Delete', sign_up, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
  <% end %>
</div>



<br>


