<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @sign_up.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @sign_up.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sign_up.email %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @sign_up.company_name %>
</p>

<p>
  <strong>Company mailing address:</strong>
  <%= @sign_up.company_mailing_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @sign_up.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @sign_up.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @sign_up.zip %>
</p>

<p>
  <strong>Company phone number:</strong>
  <%= @sign_up.company_phone_number %>
</p>

<p>
  <strong>Password:</strong>
  <%= @sign_up.password %>
</p>

<p>
  <strong>Company type:</strong>
  <%= @sign_up.company_type %>
</p>

<p>
  <strong>User name:</strong>
  <%= @sign_up.user_name %>
</p>

<%= link_to 'Edit', edit_sign_up_path(@sign_up) %> |
<%= link_to 'Back', sign_ups_path %>
